body{
    background-color: #FAFAFA;
    margin: 0;
}

nav{
    background-color: #FFF;
    height: 3.3em;
    line-height: 3.3em;
    padding: 0 12.8em;
    border-bottom: 0.1px solid #dbdbdb;
}
.logo{
    text-decoration: none;

}
.logo img{
    vertical-align: middle;

}
.search{
    background: #FAFAFA;
    margin-left: 11em;
    height: 2em;
    width: 17em;
    border:1px solid #dbdbdb;
    border-radius: 2px;

}
.search::placeholder{
    text-align: center;
    color: #bb9caa;
}

.nav-links{
    margin-left: 6em;

}

.nav-links>a{
    margin-left: 1.8em;
}
.nav-links i{
    transform: scale(1.6);
    color: #252525;
    vertical-align: middle;
}
.container{
    padding: 0 14%;
}
.bio {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 13em;
    padding: 3em 0 0 3em;
    border-bottom: 0.5px solid #dbdbdb;
}
.bio img{
    height: 10em;
}
.profile-photo{
     background-color: brown;
     width: 10em;
     height: 10em;
     border-radius: 50%;
}
.profile-photo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.profile-info .name{
    font-size: 1.7em;
    color: #545454;
    font-weight: 1px;
}
.profile-info button{
    color: white;
    background:  #0095f6;
    font-size: 0.8em;
    width: 6em;
    height: 2em;
    border: unset;
    cursor: pointer;
}

.add-photo{
    transform: scale(2.5);
    position: fixed;
    bottom: 5em;
    right:5em;
    cursor: pointer;
}
#addPhotoInput{
    display: none;
}

.gallery-nav{
    height: 3.8em;
}
.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.5em;
    column-gap: 1.5em;
    margin-bottom: 2em;
}
.item{
    height: 17.5em;
    width: 17.5em;
    background: #000; 
}
.item>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.item img:hover{
    opacity: 0.7;
}